@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%layout-padding-default {
    padding-left: 12px;
    padding-right: 12px;

    @media (min-width: $bp-sm) {
        padding-left: 24px;
        padding-right: 24px;
    }

    @media (min-width: $bp-md) {
        padding-left: 104px;
        padding-right: 104px;
    }
}
